h2 {
    font-size: x-large;
  }

.accordionSection {
    --sds-c-accordion-summary-color-background: #f3f2f2; 
    /* --sds-c-accordion-heading-line-height: 1.875em;  */
    --sds-c-accordion-heading-line-height: 1.75em;
    --sds-c-accordion-section-spacing-block-start: .25em; 
    --sds-c-accordion-section-spacing-inline-end: .25em; 
    --sds-c-accordion-section-spacing-block-end: 0.25em; 
    --sds-c-accordion-section-spacing-inline-start: 0.25em;
}