.selected{
    background-color: green;
}
.mismatch{
    background-color: red;
}
.column2,.column3,.column4,.column5{
    width:100%;
}
.columnHeader{
    display: none;
}
.blockInfo{
    display: inline;
}
@media (min-width:768px) {
    /*Tablets and above*/
    .column2{
        width: 50%;
    }
    .column3{
        width: 33.3%
    }
    .column4{
        width: 25%;
    }
    .column5{
        width: 20%;
    }
    .columnHeader{
        display: inline;
        width:100%;
    }
    .blockInfo{
        display: none;
    }

}