



.mobile {
    display: none;
}

@media screen and (max-width: 1250px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

.mobile-break {
    display: none;
}


@media screen and (max-width: 534px) {
    .mobile-break {
        display: block;
    }
}


.hide{ 
    display: none;
}

  
p {
  color: #0B2042;
  font-size: 1rem;
  margin-bottom: 1rem;
  
}

li {
  margin-bottom: .5rem;
  max-width: 88ex;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #0B2042;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #0B2042;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #0B2042;
}

* {
  font-size: 1rem;
}