.hideHeader{ 
    background-color: rgb(0, 83, 162);
    cursor: none;
    pointer-events: none;
    width: 50%;
    left: 0;
    top: -50px;
    height: 40px;
    z-index: 5;
    position: absolute;
}

.container
{
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
}

p {
    font-size: 16pt;
}

label {
    font-size: 15pt;
}

.my-icon {
  --lwc-colorTextIconDefault: orange;
}

    /* Solid black circle style */
    ul {
      list-style-type: disc; /* Default is disc (black circle) */
      color: black;          /* Ensure the color is black */
      padding-left: 20px;    /* Indentation for the bullets */
  }

  /* Regular numbers style */
  ol {
      list-style-type: decimal; /* Default is numbers (1, 2, 3, etc.) */
      padding-left: 20px;       /* Indentation for the numbers */
  }

  /* Optional: Adjust spacing */
  li {
      margin-bottom: 10px;
  }
  ul, ol {
    margin-left: 40px;  /* Increase the left margin */
    padding-left: 20px; /* Additional padding for the list items */
}

hr{ 
    max-width: 800px;
    height: 3px;
    border: none;
    background: linear-gradient(to bottom, #2D247C, #ffffff);
    }
    
    hr.half{ 
    width: 100vw;
    position: relative;
    height: 3px;
    border: none;
    background: linear-gradient(to bottom, #2D247C, #ffffff);
    }
    
    
    hr.full{ 
    width: 100vw;
    height: 3px;
    position: relative;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    border: none;
    background: linear-gradient(to bottom, #2D247C, #ffffff);
    }
    
    