.signature-pad {
    border: 1px solid #000;
    width: 100%;
    height: 200px;
}

.slds-modal {
    /* width: 50%;  */
}

.slds-modal__content {
    text-align: center;
}

.slds-backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}